* {
    margin: 0 auto;
    padding: 0 auto;
    scroll-behavior: smooth;
    text-decoration: none;
}
html{
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
    color:rgb(48,48,48);
}
body{
    overflow-x: hidden;
}
/**************************************************************************
    Top bar
**************************************************************************/
#topBorder{
    height: 5vh;
    background-color: rgb(48,48,48);
}

/**************************************************************************
    Navigation Section
**************************************************************************/
nav{
    margin: 0 15vw 0 15vw;
    text-align: right;
    padding: 1rem 0px 1rem 0px;
    word-spacing: 3rem;
}

nav a{
    font-family: "Roboto Mono";
    font-size: 1rem;
    color:rgb(48,48,48);
    font-style: italic;
    
    /* for hover effect */
    background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(255, 255, 0,1.0) 50%);
    transition: .15s ease-in-out;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    display: inline-block;
    background-position: left bottom;
    background-size: 200%;
}

#navText{
    text-align: right;
}

/**************************************************************************
    Title
**************************************************************************/

.title_main{
    padding: 20vh 0 25vh 0;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px rgb(80,80,80),
    2px 2px rgb(80,80,80),
    3px 3px rgb(80,80,80),
    4px 4px rgb(80,80,80),
    5px 5px rgb(80,80,80),
    6px 6px rgb(80,80,80),
    7px 7px rgb(80,80,80),
    8px 8px rgb(80,80,80),
    9px 9px rgb(80,80,80),
    10px 10px rgb(80,80,80),
    11px 11px  rgb(80,80,80),
    12px 12px rgb(80,80,80),
    13px 13px rgb(80,80,80),
    14px 14px rgb(80,80,80),
    15px 15px rgb(80,80,80),
    16px 16px rgb(80,80,80),
    17px 17px rgb(80,80,80);
}
.title_main a{
    font-size: 10rem;
    color: white;
}
/* Background Effect*/

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(255, 75, 75) 50%, rgb(81, 171, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position: absolute;
    right: -50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

/**************************************************************************
    Content
**************************************************************************/

.content {
    margin: 0 15vw 0 15vw;
    position: relative;
}

/* About */

p{
    line-height: 150%;
    color: black;
    font-family: "Roboto Mono";
    font-size: 1rem;
}

.heading{
    color: rgb(48,48,48);
    font-size: 3rem;
    text-align: left;
    padding: 2rem 0 2rem 0;
}

.container1{
    Padding: 2rem 2rem 2rem 2rem;
    background-color: whitesmoke;
    border-radius: 2rem;
    box-shadow: black 0.8rem 0.8rem 4rem -2rem;
    margin: 0 0 4rem 0;
    position: relative;
}
.container1::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid whitesmoke;
    top: -2rem;
    left: 2rem;
}

/* Cursor */
@keyframes blink { 50% { border-color: rgba(48,48,48,0%) }  }
.txt-type > .txt {
    border-right: 16px solid rgba(48,48,48, 90%);
    animation: blink .5s step-end infinite alternate; 
}

/* Projects */
h4{
    font-family:  "Roboto Mono";
    font-weight: bolder;
    text-align: center;
    padding-top: 5rem;
}
.card-flip {
    height: 12rem;
    margin: 1rem;
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    perspective: 500rem;


	-webkit-transition: all 0.7s ease;
	-webkit-transform-style: preserve-3d;

	-moz-transition: all 0.7s ease;
	-moz-transform-style: preserve-3d;
  
    -o-transition: all 0.7s ease;
	-o-transform-style: preserve-3d;

	transition: all 0.7s ease;
    transform-style: preserve-3d;
}
.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.flip-container,
.front,
.back {
    margin: 0 0;
  height: 12rem;
}
.proj:hover .card-flip{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(-180deg);
}
.one, .two, .three{
	-webkit-transition: all 0.7s ease;
	-webkit-transform-style: preserve-3d;

	-moz-transition: all 0.7s ease;
	-moz-transform-style: preserve-3d;
  
    -o-transition: all 0.7s ease;
	-o-transform-style: preserve-3d;

	transition: all 0.7s ease;
    transform-style: preserve-3d;
}
.back{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(-180deg);
}

/* project 1 */
.one .front{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background: url(Media/lalaland.jpeg);
    background-position: center;
    background-size: cover;
    grid-area: frontAndBack;
}
.one .back{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: white;
    background-color: rgb(105, 55, 172);
    grid-area: frontAndBack;
}

/* project 2 */
.two .front{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background: url(Media/stormtrooper.jpeg);
    background-position: center;
    background-size: cover;
    grid-area: frontAndBack;
}
.two .back{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: white;
    background-color: rgb(80,80,80);
    grid-area: frontAndBack;
}

/* project 3 */
.three .front{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background:url(./Media/flyingpikachu.gif);
    background-color: rgb(121, 200, 236);
    background-position: center;
    background-size: cover;
    grid-area: frontAndBack;
}
.three .back{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: white;
    background-color: rgb(46, 142, 187);
    grid-area: frontAndBack;
}
  

/* Contact */

.container2 {
    margin: 2rem 4rem 6rem 4rem;
    position: relative;
    height: 16rem;
    background-image: url("./Media/world.png");
    background-size: contain;
    background-position: center;
}

/* button animation */
.button{
    transition: all 0.1s ease-in-out;
    border-style: dotted;
    border-color: darkblue;
    border-radius: 50%;
    position: absolute;
    background-color: hsl(196, 100%, 89%);
    z-index: 3;
}
.button:hover{
    transform: scale(1.1);  
    background-color: rgb(252, 193, 82);
}

/* LINES */
.line {
    position: absolute;
    height: 1px;
    width: 50%;
    border-top:3px dotted;
    border-color: darkblue;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    z-index: 1;
 }

 /* icons */

.circle {
    padding: 20px;
    background-color: rgb(52, 168, 209);
}
.resume {
    height: 8rem;
    width: 8rem;
    top: -10%;
    left: 35%;
}

.mail {
    height: 7rem;
    width: 7rem;
    top: 40%;
    left: 10%;
}
.linkedin {
    height: 6rem;
    width: 6rem;
    top: 55%;
    left: 45%;
}
.twitter {
    height: 5rem;
    width: 5rem;
    top: 25%;
    left: 70%;
}
.github {
    height: 4rem;
    width: 4rem;
    top: 70%;
    left: 75%;
}

/* Footer */
.Footer{
    font-family: "Roboto Mono";
    font-size: 0.5rem;
    color: white;
    text-align: center;
    background-color:rgb(48,48,48);
    padding: 5vh 0 5vh 0;
}


/**************************************************************************
    Media Query
**************************************************************************/


/* Smartphone */
@media only screen and (max-width : 375px) {
    .title_main, .container1,.container2{
        overflow-x: hidden;
    }
    nav{
        text-align: center;
    }
    
    html{
        font-size: 10px;
    }
    .line, .circle{
        visibility: hidden;
    }
    .container2{
        background-image: none;
        padding-bottom: 4rem;
    }
    .button{
        position: initial;
    }
    .resume, .mail,.linkedin,.twitter,.github {        
        height: 4rem;
        width: 4rem;
    }
    
}

/* iPads */
@media only screen and (min-width:375px) and (max-width: 1024px){
    .title_main, .container1,.container2{
        overflow-x: hidden;
    }
    
    html{
        font-size: 18px;
    }
    nav, .content{
        margin: 0 5vw 0 5vw;
    }
    .line, .circle{
        visibility: hidden;
    }
    .container2{
        background-image: none;
        padding-bottom: 4rem;
    }
    .button{
        position: initial;
    }
    .resume, .mail,.linkedin,.twitter,.github {        
        height: 4rem;
        width: 4rem;
    }
    
}

